@model Apps.Models.Sys.SysLogModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}
@section style{
    <style type="text/css">
        table {
            margin: 5px auto 0 auto;
        }
    </style>
}

<div style="width:100%; background: #d2e0f2;border:none">
    <a id="btnBack" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-back'">返回</a>
</div>
<table>
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Operator):
            </td>
            <td>
                @Html.EditorFor(model => model.Operator)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Message):
            </td>
            <td>
                @Html.EditorFor(model => model.Message)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Result):
            </td>
            <td>
                @Html.EditorFor(model => model.Result)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Type):
            </td>
            <td>
                @Html.EditorFor(model => model.Type)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Module):
            </td>
            <td>
                @Html.EditorFor(model => model.Module)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreateTime):
            </td>
            <td>
                @Html.EditorFor(model => model.CreateTime)
            </td>
        </tr>
    </tbody>
</table>

@section scripts{
    <script>
        $("#btnBack").click(function () {
            window.parent.frameReturnByClose();
        });
    </script>
}
